<% content_for :title, @team.name %>

<%= render "shared/page_header", title: @team.name, context: "Team" %>

<main class="page-body">
    <div class="container">

        <div class="two-column-layout">
            <div class="two-column-layout__main-content">
                <h2>Artefacts</h2>
                <ul>
                    <% @team.artefacts.each do |a| %>
                        <li>
                            <a href="<%= a.link %>" target="blank">
                                <h3><%= a.name %></h3>
                            </a>
                            <p><%= a.description %></p>
                        </li>
                    <% end %>
                </ul>
                <h2>Guides</h2>
                <ul>
                    <% @team.collections.each do |c| %>
                        <li>
                            <%= c.name %>r
                        </li>
                    <% end %>
                </ul>
            </div>
            
            <aside class="two-column-layout__sidebar">
                <h3 class="list-header">Team members</h3>
                <%= @team.team_members %>
            </aside>
        </div>

    </div>
</main>