<% content_for :title, @team.name %>

<%= render "shared/page_header", title: @team.name, context: "Team" %>

<main class="page-body">
    <div class="container">

        <div class="two-column-layout">
            <div class="two-column-layout__main-content">
                <h2 class="section-title">Artefacts</h2>
                <ul class="team-artefacts">
                    <% @team.artefacts.each do |a| %>
                        <%= render "shared/artefact", artefact: a %>
                    <% end %>
                </ul>
                <h2 class="section-title">Guides</h2>
                <ul class="team-artefacts">
                    <% @team.collections.each do |c| %>
                        <%= render "shared/collection", collection: c %>
                    <% end %>
                </ul>
            </div>
            
            <aside class="two-column-layout__sidebar">
                <div class="ruled-area ruled-area--markdown">
                    <% if @team.team_members? %>
                        <h3 class="ruled-area__header">Team members</h3>
                        <%= markdown(@team.team_members) %>
                    <% end %>
                </div>

                <div class="ruled-area ruled-area--markdown">
                    <% if @team.learn_more? %>
                        <h3 class="ruled-area__header">Learn more</h3>
                        <%= markdown(@team.learn_more) %>
                    <% end %>
                </div>
            </aside>

        </div>

    </div>
</main>