<h1>Results</h1>

<form class="search-form" method="get" action="/search">
    <input value="<%= params["query"] %>" name="query" placeholder="Search..." class="search-form__input" required>
    <button class="search-form__button"><%= image_tag "search.svg" %></button>
</form>


<main class="page-body">
    <div class="container">

        <div class="two-column-layout">
            <div class="two-column-layout__main-content">
                <ul>
                    <% @results.each do |result| %>
                    <li>
                        <%= link_to result.searchable.name, result.searchable %>
                        <p><%= result.searchable_type %></p>
                        <%= result.inspect %>
                    </li>
                    <% end %>
                </ul>
            </div>
            
            <aside class="two-column-layout__sidebar">
                <div class="ruled-area ruled-area--markdown">
                        <h3 class="ruled-area__header">Content type</h3>
                </div>
            </aside>

        </div>

    </div>
</main>