<% content_for :title, "FutureGov Knowledge" %>

<section class="hero">
    <div class="hero__inner container">
        <div class="hero__main-content">
            <h1 class="hero__headline">Learn from our best work</h1>
            <p class="hero__strapline">Explore examples of work, see templates to get started quickly, and read guides.</p>
            <form class="search-form" method="get" action="/search">
                <input name="query" placeholder="Search..." class="search-form__input" required>
                <button class="search-form__button"><%= image_tag "search.svg" %></button>
            </form>
        </div>
        <aside class="hero__sidebar">
            <h2 class="hero__sidebar-title">Recent changes</h2>
            <ul class="recent-changes">
                <% @recently_updated.each do |recent| %>
                    <li class="recent-changes__item">
                        <a class="recent-changes__link" href="#"><%= recent.name %></a>
                    </li>
                <% end %>
            </ul>
        </aside>
    </div>
</section>

<section class="tiles">
    <div class="tiles__inner container">
        <a class="tile" href="<%= artefacts_path %>">
            <h3 class="tile__headline">Artefacts</h3>
            <p class="tile__abstract">Examples of our best work, mostly with original files suitable for re-use.</p>
        </a>
        <a class="tile" href="<%= guides_path %>">
            <h3 class="tile__headline">Guides</h3>
            <p class="tile__abstract">Examples of our best work, mostly with original files suitable for re-use.</p>
        </a>
        <a class="tile tile--coming-soon">
            <h3 class="tile__headline">Templates</h3>
            <p class="tile__abstract">Coming soon</p>
        </a>
    </div>
</section>

<section class="explore-by-team">
    <div class="explore-by-team__inner container">
        <h3 class="explore-by-team__title">Explore by team</h3>
        <div class="explore-by-team__filmstrip">
            <% @teams.each do |t| %>
                <a class="explore-by-team__tile" href="<%= team_path(t) %>">
                    <%= image_tag t.image.asset.home.url, class: "explore-by-team__image" %>
                    <h2 class="explore-by-team__name"><%= t.name %></h2>
                </a>
            <% end %>
        </div>
    </div>
</section>

<div class="contribute">
    <div class="container">
        <section class="contribute__inner">
            Something missing? Suggest a change or addition on <a href="https://app.slack.com/client/T024ZJU1Z/CL11GC5NC"><strong>#knowledge-management</strong></a>.
        </section>
    </div>
</div>