<% content_for :title, @guide.name %>

<%= render "shared/page_header", title: @guide.name, context: "Guide", lede: @guide.short_description %>

<main class="page-body">
    <div class="container">

        <div class="two-column-layout">
            <div class="two-column-layout__main-content two-column-layout__main-content--markdown">
                <%= markdown(@guide.body) %>
            </div>
            
            <aside class="two-column-layout__sidebar">

                <div class="ruled-area ruled-area--list">
                    <h3 class="ruled-area__header">On this page</h3>
                    <%= toc(@guide.body) %>
                </div>

                <div class="ruled-area ruled-area--list">
                    <h3 class="ruled-area__header">
                        <span class="ruled-area__context">Part of</span> 
                        <%= @guide.collection.name %>
                    </h3>
                    <ol>
                    <% @guide.collection.guides.each do |guide| %>
                        <li>
                            <% if current_page?(guide) %>
                                <%= guide.name %>
                            <% else %>
                                <%= link_to guide.name, guide %>
                            <% end %>
                        </li>

                    <% end %>
                    </ol>
                </div>

                <div class="info-box">
                    The <%= link_to @guide.collection.team.name, @guide.collection.team %> team owns this guide.
                </div>
            </aside>

        </div>

    </div>
</main>