<!DOCTYPE html>
<html>
  <head>
    <title>FgKnowledge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <a href="/">FutureGov Knowledge</a>
      <nav>
        <%= link_to "Artefacts", artefacts_path %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
