<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= link_to "FutureGov Knowledge", root_path %>
      <nav>
        <%= link_to "Artefacts", artefacts_path %>
        <%= link_to "Guides", guides_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>FutureGov Knowledge is built and maintained by the technology and product design practice.</p>
    </footer>

  </body>
</html>
