<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/uru8mtl.css">
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header <% if @is_home %>site-header--inverted<% end %>">
      <div  class="site-header__masthead">
        <a href="<%= root_path %>">
          <%= image_tag "logo.svg", class: "site-header__logo" %>
        </a>
        <span class="site-header__phase-tag">Beta</span>
      </div>
      <nav class="site-header__navigation">
        <%= link_to "Artefacts", artefacts_path, class: "site-header__nav-link" %>
        <%= link_to "Guides", guides_path, class: "site-header__nav-link" %>
      </nav>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <p>FutureGov Knowledge is built and maintained by the technology and product design practice.</p>
    </footer>

  </body>
</html>
